<div ion-grid tepuy-activity #activityComponent no-margin no-padding tepuy-slide-delay=".5">
  <ng-container *tepuyValueGenerator="'randomof:numbers:min=0;max=99;count=2;'; array: true; count: 5; let pairs=values">
    <ion-slides class="tepuy-activity-content" zoom="false" pager="true" paginationType="progress" effect="fade">
      <ion-slide *ngFor="let pair of pairs" [style.width]="auto">
        <div class="container" tepuy-item-group [tepuy-group-id]="pair.id">
          <div class="seed-bag q-left" tepuy-item tepuy-selectable tepuy-greetable
                data-tepuy-auto-feedback="true" [tepuy-correct]="pair.data[0]>pair.data[1]">
            <span tepuy-item-value>{{pair.data[0]}}</span> 
          </div>
          <div class="seed-bag q-right" tepuy-item tepuy-selectable tepuy-greetable
                data-tepuy-auto-feedback="true" [tepuy-correct]="pair.data[1]>pair.data[0]">
            <span tepuy-item-value>{{pair.data[1]}}</span> 
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    <div class="tepuy-feedback-summary tepuy-semaphore">
      <span *ngFor="let p of pairs" class="tepuy-{{p.state}}"></span>
    </div>
  </ng-container>
</div>