<div ion-grid tepuy-activity #activityComponent no-margin no-padding tepuy-slide-delay="1">
  <ng-container *tepuyValueGenerator="'randomof:setup:key=parameters.directions;fromQ=true'count:5;let groups=values">
    <ion-slides class="tepuy-activity-content" zoom="false" pager="true" paginationType="progress" effect="fade">
      <ion-slide *ngFor="let group of groups;let id=index" [ngStyle]="{'width.px':playZone?.width}">
        <table tepuy-item-group data-tepuy-group-id="{{group.id}}"> 
          <tr ion-row2 class="row-0">
            <td>
              <div class="flower-zone" tepuy-autofit [tepuy-square]="true" [tepuy-offset]="10" tepuy-item tepuy-selectable data-tepuy-auto-feedback="true" [tepuy-correct]="group.data|test:'(l_bk|a_ye)'">
                <div tepuy-autofit><div class="l2_ch3_icon green-flower" tepuy-scale="1920"></div></div>
                <input type="hidden" tepuy-item-value value="verde" />
              </div>
            </td>
            <td>
              <div class="flower-zone" tepuy-autofit [tepuy-square]="true" [tepuy-offset]="10" tepuy-item tepuy-selectable data-tepuy-auto-feedback="true" [tepuy-correct]="group.data|test:'(a_qu|r_gr|l_re)'">
                <div tepuy-autofit><div class="l2_ch3_icon black-flower" tepuy-scale="1920"></div></div>
                <input type="hidden" tepuy-item-value value="negra" />
              </div>
            </td>
            <td>
              <div class="flower-zone" tepuy-autofit [tepuy-square]="true" [tepuy-offset]="10" tepuy-item tepuy-selectable data-tepuy-auto-feedback="true" [tepuy-correct]="group.data|test:'(r_bk|a_bl)'">
                <div tepuy-autofit><div class="l2_ch3_icon red-flower" tepuy-scale="1920"></div></div>
                <input type="hidden" tepuy-item-value value="roja" />
              </div>
            </td>
          </tr>
          <tr ion-row3 class="row-1">
            <td>
              <div class="flower-zone" tepuy-autofit [tepuy-square]="true" [tepuy-offset]="10" tepuy-item tepuy-selectable data-tepuy-auto-feedback="true" [tepuy-correct]="group.data|test:'(b_gr|l_qu|a_fu)'">
                <div tepuy-autofit><div class="l2_ch3_icon yellow-flower" tepuy-scale="1920"></div></div>
                <input type="hidden" tepuy-item-value value="amarilla" />
              </div>
            </td>
            <td>
              <div class="flower-zone" tepuy-autofit [tepuy-square]="true" [tepuy-offset]="10" tepuy-item tepuy-selectable data-tepuy-auto-feedback="true" [tepuy-correct]="group.data|test:'(r_ye|l_bl|b_bk|a_wh)'">
                <div tepuy-autofit><div class="l2_ch3_icon quima-zum" tepuy-scale="1920"></div></div>
                <input type="hidden" tepuy-item-value value="quimayzum" />
              </div>
            </td>
            <td>
              <div class="flower-zone" tepuy-autofit [tepuy-square]="true" [tepuy-offset]="10" tepuy-item tepuy-selectable data-tepuy-auto-feedback="true" [tepuy-correct]="group.data|test:'(r_qu|b_re|a_vi)'">
                <div tepuy-autofit><div class="l2_ch3_icon blue-flower" tepuy-scale="1920"></div></div>
                <input type="hidden" tepuy-item-value value="azul" />
              </div>
            </td>
          </tr>
          <tr ion-row4 class="row-2">
            <td>
              <div class="flower-zone" tepuy-autofit [tepuy-square]="true" [tepuy-offset]="10" tepuy-item tepuy-selectable data-tepuy-auto-feedback="true" [tepuy-correct]="group.data|test:'(b_ye|l_wh)'">
                <div tepuy-autofit><div class="l2_ch3_icon fucsia-flower" tepuy-scale="1920"></div></div>
                <input type="hidden" tepuy-item-value value="rosada" />
              </div>
            </td>
            <td>
              <div class="flower-zone" tepuy-autofit [tepuy-square]="true" [tepuy-offset]="10" tepuy-item tepuy-selectable data-tepuy-auto-feedback="true" [tepuy-correct]="group.data|test:'(r_fu|b_qu|l_vi)'">
                <div tepuy-autofit><div class="l2_ch3_icon white-flower" tepuy-scale="1920"></div></div>
                <input type="hidden" tepuy-item-value value="blanca" />
              </div>
            </td>
            <td>
              <div class="flower-zone" tepuy-autofit [tepuy-square]="true" [tepuy-offset]="10" tepuy-item tepuy-selectable data-tepuy-auto-feedback="true" [tepuy-correct]="group.data|test:'(r_wh|b_bl)'">
                <div tepuy-autofit><div class="l2_ch3_icon violet-flower" tepuy-scale="1920"></div></div>
                <input type="hidden" tepuy-item-value value="violeta" />
              </div>
            </td>
          </tr>
        </table>
      </ion-slide>
    </ion-slides>
    <div class="tepuy-feedback-summary tepuy-semaphore">
      <div *ngFor="let g of groups" class="listen-control" tepuy-autofit>
        <div class="tepuy-{{g.state}} listen-icon" [class.listen-active]="g.active" [class.listen-inactive]="!g.active" tepuy-scale="1920" tepuy-greetable="[greet-value]" [attr.disabled]="!g.active">
          <input greet-value type="hidden" value="{{g.data}}" />
        </div>
      </div>
    </div>
  </ng-container>
</div>
