<div ion-grid tepuy-activity #activityComponent no-margin no-padding tepuy-slide-delay=".5">
  <ng-container *tepuyValueGenerator="'randomof:numbers:min=1;max=12;count=2;max-dist=4'; array: true; count: 5; let pairs=values">
    <ion-slides class="tepuy-activity-content" zoom="false" pager="true" paginationType="progress" effect="fade">
      <ion-slide *ngFor="let pair of pairs" [style.width]="auto">
        <div class="container" tepuy-item-group [tepuy-group-id]="pair.id">
          <div class="quantity-bag q-left">
            <div class="seed-container">
              <div class="seed-wrapper" *tepuyValueGenerator="'randomof:numbers:min=1;max=5;repeat=true';count: pair.data[0]; let seeds=values" tepuy-scale="1920" tepuy-item tepuy-selectable 
                data-tepuy-auto-feedback="true" [tepuy-correct]="pair.data[0]>pair.data[1]">
                <div class="seed-grid">
                  <span *ngFor="let k of seeds | distribute:12" class="seed-icon seed-icon-{{k.data}} seed-{{k.pos}}"></span>
                </div>
                <input type="hidden" tepuy-item-value value="{{pair.data[0]}}">
              </div>
            </div>
          </div>
          <div class="quantity-bag q-right">
            <div class="seed-container">
              <div class="seed-wrapper" *tepuyValueGenerator="'randomof:numbers:min=1;max=5;repeat=true';count: pair.data[1]; let seeds=values" tepuy-scale="1920" tepuy-item tepuy-selectable 
                data-tepuy-auto-feedback="true" [tepuy-correct]="pair.data[1]>pair.data[0]">
                <div class="seed-grid">
                  <span *ngFor="let k of seeds | distribute:12" class="seed-icon seed-icon-{{k.data}} seed-{{k.pos}}"></span>
                </div>
                <input type="hidden" tepuy-item-value value="{{pair.data[1]}}">
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    <div class="tepuy-feedback-summary tepuy-semaphore">
      <span *ngFor="let p of pairs" class="tepuy-{{p.state}}"></span>
    </div>
  </ng-container>
</div>
