<div ion-grid tepuy-activity #activityComponent no-margin no-padding tepuy-slide-delay=".5">
  <ng-container *tepuyValueGenerator="'randomof:setup:key=parameters.words'; count: 5; let groups=values">
    <ion-slides class="tepuy-activity-content" zoom="false" pager="true" paginationType="progress" effect="fade">
      <ion-slide *ngFor="let word of groups" [ngStyle]="{'width.px':playZone?.width}">
        <div class="container" tepuy-item-group [tepuy-group-id]="word.id">
          <div class="book-page page-left">
              <div class="word-holder" tepuy-scale="1920">
                {{word.data}}
              </div>
          </div>
          <div class="book-page page-right">
            <div class="object-container-wrapper">
            <div class="object-container" tepuy-scale="1920"
              *tepuyValueGenerator="'randomof:setup:key=parameters.words';type:'scalar';include:[word.data];count:3; let extra=values">
              <div *ngFor="let w of extra|shuffle;let i=index" class="object-icon obj-{{w|objectkey}} object-pos-{{i}}"
                tepuy-item tepuy-selectable data-tepuy-auto-feedback="true" [tepuy-correct]="w == word.data">
                <input type="hidden" tepuy-item-value value="{{w}}" />
              </div>
            </div>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    <div class="tepuy-feedback-summary tepuy-semaphore">
      <span *ngFor="let g of groups" class="tepuy-{{g.state}}"></span>
    </div>
  </ng-container>
</div>
