$xl-button: 120px;
$sm-button: 65px;
$y-offset: 5px;
$x-offset: 20px;

page-home {
  ion-header, .header {
    background: transparent;
  }
  ion-content {
    background-image: url('../assets/imgs/home_bg.png');
  }

  ion-grid, [ion-grid] {
    position: relative;
  }

  .menu-container button {
    @include animation(falling-buttons, 2s, ease-out);
    z-index: 10;
  }

  .cloud {
    display:block;
    position: absolute;
    width: 80px;
    height: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    @include animation(clouds, 15s, linear, $iteration:infinite);

    @each $i in 1, 2, 3 {
      left: 5%;
      top: 5%;
      &.cloud-#{$i} {
        background-image: url('../assets/imgs/cloud-#{$i}.png');
      }
    }

    &:nth-child(2n+0) {
      left: 30%;
      @include animation-delay(0s);
    }
    &:nth-child(3n+0) {
      left: 60%;
      @include animation-delay(2s);
    }
    &:nth-child(5n+0) {
      left: 75%;
      @include animation-delay(8s);
    }
    &:nth-child(2n+3) {
      top: 20%;
      @include animation-delay(4s);
    }
    &:nth-child(3n+1) {
      top: 15%;
      @include animation-delay(5s);
    }
    &:nth-child(5n+0) {
      top: 5%;
    }
  }

  .settings {
    position: absolute;
    top: 2px;
    right: 5px;
    -web-kit-box-shadow: none;
    box-shadow:none;
  }

}
