/************************************************
Home Page
************************************************/
page-home {
  ion-header, .header {
    background: transparent;
  }
  ion-content {
    background-image: url('../assets/imgs/home_bg.png');
  }

  ion-grid, [ion-grid] {
    position: relative;
  }

  .menu-container [ion-col] {
    @include animation(falling-buttons, 2s, ease-out);
    z-index: 10;
  }

  .cloud {
    display:block;
    position: absolute;
    width: 80px;
    height: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    @include animation(clouds, 20s, linear, $iteration:infinite);

    @each $i in 1, 2, 3 {
      left: 5%;
      top: 5%;
      &.cloud-#{$i} {
        background-image: url('../assets/imgs/cloud-#{$i}.png');
      }
    }

    &:nth-child(3n+2) {
      left: -20%;
      @include animation-delay(0s);
    }
    &:nth-child(5n+2) {
      left: -20%;
      @include animation-delay(4s);
    }
    &:nth-child(7n+1) {
      left: -20%;
      @include animation-delay(12s);
    }
    &:nth-child(3n+4) {
      top: 25%;
      @include animation-delay(6s);
    }
    &:nth-child(6n+2) {
      top: 18%;
      @include animation-delay(7s);
    }
    &:nth-child(5n+0) {
      top: 5%;
    }
  }

  .settings {
    position: absolute;
    top: 8px;
    right: 8px;
    -web-kit-box-shadow: none;
    box-shadow:none;
    z-index: 1;
  }

  .help-indicator {
    position: absolute;
    left: 50%;
    top: 50%;
    @include animation(home-pointer, 3s, linear, $iteration:infinite);
  }

  @include keyframes(home-pointer){
    0%, 20%, 50%, 80%, 100% {
      @include transform(scale(0.5) translate(-120px, -380px) rotate(90deg));
    }
    40% {
      @include transform(scale(0.5) translate(-120px, -320px) rotate(90deg));
    }
    60% {
      @include transform(scale(0.5) translate(-120px, -350px) rotate(90deg));
    }
  }
}

.popover-md, .popover-ios{
  .popover-content {
    width: 200px;  
  }
} 

.config-popover {
  margin-bottom: 0;
}
