<ion-header>
  <ion-navbar>
    <ion-title text-center>Contenidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>  
  <div ion-list>
    <div ion-item *ngIf="noContent" text-wrap text-center>
      No hay contenidos disponibles en está sección
    </div>
    
    <ng-template #audios_thumb let-item="item">
      <div class="app-icon media-audio"></div>
    </ng-template>

    <ng-template #videos_thumb let-item="item">
      <div class="app-icon video-over" text-center> 
        <video *ngIf="viewType=='video'" no-controls>
          <source src="assets/content/video/{{item.path}}#t=3" type="video/mp4">
        </video>
      </div>
    </ng-template>
    <ng-template #images_thumb let-item="item">
      <div class="app-icon img-frame" text-center> 
        <img *ngIf="viewType=='images'" src="assets/content/{{viewType}}/{{item.path}}" imageViewer />
      </div>
    </ng-template>
    <ng-template #docs_thumb let-item="item">
      <div class="app-icon media-docs"></div>
    </ng-template>
    
    <div ion-item text-wrap *ngFor="let item of contents | async" (click)="open(item, $event)">
      <div ion-thumbnail item-start>
        <ng-container *ngTemplateOutlet="viewTemplate();context: {item: item} "></ng-container>
      </div>
      <h2>{{item.title}}</h2>
      <p>{{item.description}}</p>
      <div *ngIf="viewType=='audio'">
        <audio controls preload="none" (playing)="playingAudio($event)">
          <source src="assets/content/audio/{{item.path}}"/>
        </audio>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-navbar no-padding no-margin>
    <ion-buttons no-padding no-margin text-center>
      <ion-scroll scrollX="true">
        <button no-margin [ngClass]="{active:viewType=='audio'}" class="app-icon content-audio" (click)="setViewType('audio')"></button>
        <button no-margin [ngClass]="{active:viewType=='video'}" class="app-icon content-video" (click)="setViewType('video')"></button>
        <button no-margin [ngClass]="{active:viewType=='images'}" class="app-icon content-images" (click)="setViewType('images')"></button>
        <button no-margin [ngClass]="{active:viewType=='docs'}" class="app-icon content-docs" (click)="setViewType('docs')"></button>
        <button no-margin class="app-icon home" (click)="goHome()"></button>
      </ion-scroll>
    </ion-buttons>
  </ion-navbar>
</ion-footer>
