/***************************************
Contents
***************************************/

page-content {
  
  .app-icon.bar-button:after {
    content: none;
    position: inherit;
    left:0;
    top:0;
  }

  audio {
    width: 100%;
  }

  .item-ios, .item-md {
    &.item-block {
      .item-inner {
        border: 0;
      }
    } 
  }
  .item  {
    border-bottom: solid .55px map-get($colors, border);

    &:first-child {
      border-top: solid 4px map-get($colors, border);
    }

    ion-thumbnail, [ion-thumbnail] {      
      .img-frame, .video-over {
        padding: 10px;
        img {
          max-height: 70px;
        }
      }      
      .video-over > video {
        width: 100%; 
        height: 100%; 
        opacity: .6;
      }
    }
  }
}