/***************************************
Game
***************************************/

page-game {
  .content-zone {
    background-image: url('../assets/imgs/game_bg.png');
    background-size: cover;
    overflow: auto;
  }

  .board {
    max-width: 1080px;
    margin: auto;
    overflow: visible;
    position: relative;
    height: 100%;
  }
  
  .level-block {
    position: absolute;
    left: 0;
    right: 0;
    height: 20%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  @for $i from 1 through 4 {
    .level-block-#{$i} {
      background-image: url(../assets/imgs/game/levels/#{$i}.png);
      &.unlocked {
        background-image: url(../assets/imgs/game/levels/#{$i}_color.png);
      }
    }
  }

  .progressWrapper {
    width: 100%;
    height: 100%;
    margin: 0;  
  }

  .level-progress-icon {
    background-image: url('../assets/imgs/sprite_level_progress.png');
    background-color: transparent;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    transform-origin: left top;
    
    $icons: level-1 level-2;
    @include appSpriteIcons($icons, 20px, 20px, 28, 0, 402px, 136px);

    $icons: level-lock-l;
    @include appSpriteIcons($icons, 20px, 180px, 28, 0, 402px, 136px);

    $icons: level-lock-r;
    @include appSpriteIcons($icons, 20px, 360px, 28, 0, 402px, 136px);

    $icons: level-lock-l;
    @include appSpriteIcons($icons, 20px, 180px, 28, 0, 402px, 136px);

    $icons: level-progress-1 level-progress-2;
    @include appSpriteIcons($icons, 20px, 20px, 28, 0, 402px, 136px);
  }

/*
  .level-progress-icon {
  }

  .app-level-icon {
    background-image: url('../assets/imgs/sprite_levels.png');
    background-color: transparent;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: scale(.33);

    //Level Icons
    $icons: level-1;
    @include appSpriteIcons($icons, 20px, 20px, 0, 170, 790px, 610px, $alternate:'.level-locked');

    $icons: level-2;
    @include appSpriteIcons($icons, 1000px, 20px, 0, 102, 768px, 678px, $alternate:'.level-locked');

    $icons: level-3;
    @include appSpriteIcons($icons, 2000px, 20px, 0, 26, 768px, 754px, $alternate:'.level-locked');

    $icons: level-4;
    @include appSpriteIcons($icons, 3000px, 20px, 0, 260, 722px, 520px, $alternate:'.level-locked');
  }

  //Each level settings in the format heigth, top, margin-left
  $level-settings: (
    (150px -200px -440px)
    (130px -255px -340px)
    (130px -280px -440px)
    (130px -175px -330px)
  );

  [ion-item] {
    border-bottom: solid .55px map-get($colors, border);

    &:last-child {
      border: none;
    }
  }
*/
}