<ion-content #content>
  <div class="map-zone" #contentZone [ngClass]="status">
    <div class="board" [ngStyle]="{'width.px':boardWidth}">
      <div *ngFor="let item of levels | async; let i = index"
          (click)="openLevel(item)"
          class="level-block level-block-{{i+1}}" 
          [ngClass]="{'unlocked': item.unlocked }" 
          [ngStyle]="tileDimensions(item, i)" #levelItem>
        <img *ngIf="item.unlocked" src="assets/game/img/tiles/{{i+1}}.gif" alt="">
        <div class="level-progress-icon" 
          [ngClass]="lpbCss[i].classname" 
          [ngStyle]="lpbCss[i].style">   
          <div class="level-progress-bar" style="font-size: 48px">
            <div *tepuyRepeat="item.currentChallenge"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-navbar text-center no-mapping no-padding>
    <ion-buttons>
      <button class="app-icon home" (click)="goHome()"></button>
      <button class="app-icon help" (click)="showHelp()"></button>
    </ion-buttons>
  </ion-navbar>
  <div class="app-icon arrow-white help-indicator" *ngIf="showIndicator"></div>
</ion-footer>
<ion-backdrop *ngIf="leaving">
  <ion-spinner name="crescent"></ion-spinner>
</ion-backdrop>
