<!--ion-header>
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button class="app-icon close-xs" (click)="dismiss()"></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header-->
<ion-content>
  <div ion-grid tepuy-selectable>
    <div ion-row *ngFor="let group of items; let i = index" class="row-{{i}}">
      <div ion-col text-center>
        <div *ngFor="let item of group" class="seed_bag" tepuy-selectable-item data-group="1" data-correct="false">
          <span>{{item}}</span> 
        </div>
      </div>
    </div>
  </div>
  <ion-footer>
    <ion-toolbar>
      <ion-buttons end>
        <button ion-button class="app-icon close" (click)="dismiss()"></button>
        <button ion-button class="app-icon verify" tepuy-selectable-verify></button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>