/***************************************
Challenge
***************************************/
page-game-challenge {
  .content-zone {
    max-width: 1080px;
    background-size: auto 100%;
    margin: 0 auto;
    position: relative;
    overflow: auto;

    @for $l from 1 through 1 {
      @for $ch from 1 through 3 {
        &.l_#{$l}_ch_#{$ch} {
          background-image: url('../assets/game/img/l_#{$l}/ch_#{$ch}/bg.png');
        }
      }
    }
  }

  ion-header {
    border-bottom: solid 4px map-get($colors, border);
  }

  [ion-grid] {
    position: relative;
    height: 100%;
  }

  [tepuy-draggable] {
    &.tepuy-dragging {
      z-index: 10;
    }
  }

  .modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .feedback {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
    background-color: #fff;
    z-index: 10;

    img {
      height: 100%;
    }
  }

  .level_completed {
    position: absolute;
    bottom: 30%;
    left: 0;
    height: 70%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);

    img {
      height: 100%;
    }
  }

  .seed_bag {
    $p: &;
    width: 62px;
    height: 86.8px;
    margin: 5px;
    display: inline-block;
    background-image: url('../assets/game/img/shared/seed_bag.png');
    background-size: cover;
    font-size: 26px;
    line-height: 38px;
    font-family: Arial;
    font-weight: bold;
    position: relative;
    color: #fff;

    span {
      position:absolute;
      left: 50%;
      top: 50%;
      margin-top: -10px;
      margin-left: -20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: solid 3px #fff;
      background-color: #333333;
      text-align: center;
    }    
    &.tepuy-selected {
      span {
        background-color: map-get($colors, neutral);
      }
      &.tepuy-correct span {
        background-color: map-get($colors, good);
      }
      &.tepuy-wrong span {
        background-color: map-get($colors, wrong);
      }
    }
  }
  [ion-row] {
    position:absolute;
    width: 100%;
  }
  /**********************************************************************
  Level 1 - Challenge 1
  **********************************************************************/
  .l_1_ch_1 {
    [ion-row] {
      &.row-0 {
        bottom: 71%;
      }
      &.row-1 {
        bottom: 52%;
      }
      &.row-2 {
        bottom: 29%;
      }
    }
  }

  /**********************************************************************
  Level 1 - Challenge 2
  **********************************************************************/
  .l_1_ch_2 {
    [ion-row] {
      &.row-0 {
        bottom: 77%;
        height: 33%;
        & > div {
          height: 100%;
          position: relative;
          margin: 0 auto;
        }
      }
      &.row-1 {
        bottom: 40%;
        height: 35%;
        & > div {
          height: 100%;
          position: relative;
          margin: 0 auto;
        }
      }
    }

    $scale: .25;
    .seed_bag {
      width: 252px * $scale;
      height: 350px * $scale;
      position: absolute;
      bottom: 0;
      margin: 0;
      font-size: 96px * $scale;
      line-height: 156px * $scale;
      //@include scale(.25);
      //transform-origin: left bottom;

      @for $i from 1 through 6 {
        &.bag_#{$i - 1} {
          left: 0% + (16*($i - 1));
        }
      }
      span {
        position:absolute;
        left: 50%;
        top: 50%;
        margin-top: -40px * $scale;
        margin-left: -80px * $scale;
        width: 160px * $scale;
        height: 160px * $scale;
        border-radius: 50%;
        border: solid 3px #fff;
        background-color: #333333;
        text-align: center;
      }    
      &.tepuy-dropped {
        span {
          background-color: map-get($colors, neutral);
        }
        &.tepuy-correct span {
          background-color: map-get($colors, good);
        }
        &.tepuy-wrong span {
          background-color: map-get($colors, wrong);
        }
      }
    }

    .tepuy-droppable {
      $p: &;
      width: 252px * $scale;
      height: 350px * $scale;
      position: absolute;
      margin: 0;
      background-image: url('../assets/game/img/shared/seed_bag_empty.png');
      background-size: cover;
      //@include scale(.25);
      //transform-origin: left bottom;

      @for $i from 1 through 3 {
        &.bag_target_#{$i - 1} {
          bottom: 4% + ($i*4);
          left: 5% + (15*($i - 1));
        }

        &.bag_target_#{6-$i} {
          bottom: 4% + ($i*4);
          left: 5% + (15*(6-$i));
        }
      }
    }
  }

  /**********************************************************************
  Level 1 - Challenge 3
  **********************************************************************/
  .l_1_ch_3 {
    .tepuy-markzone container {
      position: relative;
    }

    ion-slide.swiper-slide {
        align-items: flex-start;
    }

    .tepuy-mark-container {
      width: 100%;
      position: relative;
      div {
        height: 100%;
      }
      img {
        /*max-width: 1920px;*/
        height: 100%;

      }
      .tepuy-correct {
        border: solid 20px #b2e07f;
      }

      .tepuy-wrong {
        border:solid 20px #f2674c;
      }
    }

    .swiper-pagination {
      z-index: 11; //go over the header toolbar border;
    }
  }

  .tepuy-activity {
    .tepuy-feedback-summary {
      display: none;
      padding: 5px;
      height: 70%;
      text-align: center;
      img {
        max-width: 45%;
        max-height: 45%;
        box-sizing: border-box;
        display: inline-block;
        margin: 6px;
        margin-bottom: 0;
        &.tepuy-correct {
          border: solid 15px #b2e07f;
        }

        &.tepuy-wrong {
          border:solid 15px #f2674c;
        }
      }
    }

    &.tepuy-completed {
      
      ion-slides {
        display: none;
      }
      
      .tepuy-feedback-summary {
        display: block;
      }
    }
  }

}


