<div ion-grid tepuy-activity #activityComponent no-margin no-padding (activityRestart)="onReset()" (activityCompleted)="onComplete($event)">
  <ng-container *tepuyValueGenerator="'randomof:numbers:min=1;max=9;fromQ=true;'count:1;type:'scalar';let X=values">
    <ng-container *tepuyValueGenerator="'randomof:numbers:min=1;max=9;'count:1;type:'scalar';let Y=values">
      <div class="container" tepuy-item-group [tepuy-group-id]="1" (groupInit)="prepare($event, X, Y)">
        <div *ngIf="ready$|async" class="tbl">
          <div class="tbl-row">
            <div class="tbl-col" [ngStyle]="cellStyle">x</div><div class="tbl-col header" *tepuyRepeat="dimensions; let k=index" [ngStyle]="cellStyle">
              {{matrix[0][k+1].text}}
            </div>
          </div>
          <div class="tbl-row" *tepuyRepeat="dimensions; let i=index">
            <div class="tbl-col header" [ngStyle]="cellStyle">
              {{matrix[i+1][0].text}}
            </div><div class="tbl-col" *ngFor="let cell of matrix[i+1]|tail:1; let k=index; let odd=odd" 
              [ngStyle]="cellStyle" 
              [class.fillable]="cell.missing"
              [class.alt-col]="odd"
              [class.active]="cell.active"
              [class.tepuy-correct]="cell.item?.succeed === true"
              [class.tepuy-wrong]="cell.item?.succeed === false"
              (click)="onFill($event,cell)">
              <span [innerHTML]="cell.text"></span>
              <input *ngIf="cell.missing" type="hidden" tepuy-item [tepuy-correct]="true" tepuy-group-id="1" />
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  
  <ng-container *ngIf="showSelector">
    <ion-backdrop (click)="bdClick()"></ion-backdrop>
    <div class="selector-container">
      <div class="options-container-wrapper" tepuy-autofit>
        <div class="sprite-icon options-container" tepuy-scale="1920"></div>
        <div class="options-wrapper">
          <div *ngFor="let it of options" class="option-wrapper" tepuy-autofit (click)="onSelect(it)">
            <div class="sprite-icon option-value" tepuy-scale="1920">{{it}}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</div>
