<div ion-grid tepuy-activity #activityComponent no-margin no-padding (activityRestart)="onReset()" (activityCompleted)="onComplete($event)">
  <ng-container *tepuyValueGenerator="'randomof:setup:key=parameters.recipes;fromQ=true;'count:1;type:'scalar';let recipes=values">
    <div class="container" tepuy-item-group [tepuy-group-id]="1" (groupInit)="prepare($event, recipes[0])">
      <div class="recipe-wrapper">
        <div *ngIf="ready" class="recipe-container" [ngStyle]="tBoxStyle">
          <h2>{{label}}</h2>
          <div *ngFor="let it of items;" class="recipe-item">
            <ng-container *ngFor="let part of it.words;">
              <ng-container *ngIf="part;else selectable_zone" class="phrase-text">{{part}}</ng-container>
              <ng-template #selectable_zone>
                <div class="word-placeholder" [ngStyle]="phStyle"
                  [class.active]="it.active"
                  [class.tepuy-correct]="it.item?.succeed === true"
                  [class.tepuy-wrong]="it.item?.succeed === false"
                  (click)="onFill($event,it)">
                  <span [innerHTML]="it.text">&nbsp;</span>
                  <input type="hidden" tepuy-item [tepuy-correct]="true" tepuy-group-id="1" />
                </div>
              </ng-template>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  
  <ng-container *ngIf="showSelector">
    <ion-backdrop (click)="bdClick()"></ion-backdrop>
    <div class="selector-container">
      <div class="options-container-wrapper" tepuy-autofit>
        <div class="sprite-icon options-container" tepuy-scale="1920"></div>
        <div class="options-wrapper">
          <div *ngFor="let it of options|filterBy:['used']:false" class="option-wrapper" tepuy-autofit (click)="onSelect(it)">
            <div class="sprite-icon option-value" tepuy-scale="1920">{{it.val}}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</div>
